In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt

In [2]:
%%time

# Read previously saved output_trained.csv file
X_train = pd.read_csv("./Dataset/output_trained.csv")
X_train.head()

CPU times: user 18.9 s, sys: 1.6 s, total: 20.5 s
Wall time: 20.5 s

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
0,2018-01-01 00:01:00,2,40.0,2376.5800,2399.5000,2357.1400,2374.5900,19.233005,2373.116392,-0.004218
1,2018-01-01 00:01:00,0,5.0,8.5300,8.5300,8.5300,8.5300,78.380000,8.530000,-0.014399
2,2018-01-01 00:01:00,1,229.0,13835.1940,14013.8000,13666.1100,13850.1760,31.550062,13827.062093,-0.014643
3,2018-01-01 00:01:00,5,32.0,7.6596,7.6596,7.6567,7.6576,6626.713370,7.657713,-0.013922
4,2018-01-01 00:01:00,7,5.0,25.9200,25.9200,25.8740,25.8770,121.087310,25.891363,-0.008264

In [3]:
SEED_VALUE = 42
colors = ['r', 'g', 'b'] # Seaborn color coding
color_count = 0

In [4]:
# Timestamp per day rolling average

X_train['1day_rolling_avg' ] = X_train.Target.rolling(1).mean()
X_train.head()

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target,1day_rolling_avg
0,2018-01-01 00:01:00,2,40.0,2376.5800,2399.5000,2357.1400,2374.5900,19.233005,2373.116392,-0.004218,-0.004218
1,2018-01-01 00:01:00,0,5.0,8.5300,8.5300,8.5300,8.5300,78.380000,8.530000,-0.014399,-0.014399
2,2018-01-01 00:01:00,1,229.0,13835.1940,14013.8000,13666.1100,13850.1760,31.550062,13827.062093,-0.014643,-0.014643
3,2018-01-01 00:01:00,5,32.0,7.6596,7.6596,7.6567,7.6576,6626.713370,7.657713,-0.013922,-0.013922
4,2018-01-01 00:01:00,7,5.0,25.9200,25.9200,25.8740,25.8770,121.087310,25.891363,-0.008264,-0.008264

In [5]:
X_train.shape

(24236806, 11)

In [ ]:
%%time

temp_dataframe = X_train.loc[X_train['Asset_ID'] == 0]
print(temp_dataframe.shape)
plt.figure(figsize = (10,5))
plt.plot(temp_dataframe['timestamp'], temp_dataframe['1day_rolling_avg'])
plt.title("Asset_ID_0")
plt.show()